@model TreinoFacil.Models.Equipamento

@{
    ViewBag.Title = "Ecluir";
}

<h2>Ecluir</h2>

<h3>Tem certeza que deseja excluir isto?</h3>
<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEquipamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEquipamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusculoAlvo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusculoAlvo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
