@model TreinoFacil.Models.Equipamento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEquipamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEquipamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MusculoAlvo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MusculoAlvo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EquipamentoID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
