@model IEnumerable<TreinoFacil.Models.Aluno>

@{
    ViewBag.Title = "Início";
}

<h2>Início</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Pesquise pelo nome: @Html.TextBox("Busca")
        <input type="submit" value="Pesquisar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimeiroNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicioTreino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFimTreino)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeiroNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioTreino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimTreino)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AlunoID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.AlunoID }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.AlunoID })
            </td>
        </tr>
    }

</table>